<ion-content>

        <ion-row class="fullheight xc">
            <ion-col size="10">
                <form #form="ngForm">
                <ion-avatar class="ion-text-center">
                    <img src="assets/logo/logo-200.jpg">
                </ion-avatar>

                <ion-text color="light">
                    <h3 class="ion-text-center">Fiction Cinema</h3>
                </ion-text>

                <ion-item lines="none" class="ion-padding-top">
                    <ion-label position="stacked"></ion-label>
                    <ion-input placeholder="Email Address" type="email" [email]="true" [(ngModel)]="postData.email" name="email" id="email"
                    required></ion-input>
                </ion-item>

                <ion-item lines="none" style="padding-top:20px">
                    <ion-input [hidden]="showPassword" type="password" placeholder="Password" [(ngModel)]="postData.password" name="password" id="password"
                    required></ion-input>
                    <ion-input [hidden]="!showPassword" type="text" placeholder="Password" [(ngModel)]="postData.password" name="password" id="password"
                    required></ion-input>
                    <a class="type-toggle" (click)="toggleShow()">
                        <ion-icon class="show-option" [hidden]="showPassword" name="eye-off-outline" color="light">
                        </ion-icon>
                        <ion-icon class="hide-option" [hidden]="!showPassword" name="eye-outline" color="light">
                        </ion-icon>
                    </a>
                </ion-item>

                <ion-row>
                    <ion-col size="11" offset="1" class="ion-text-center">
                        <ion-button type="button" color="danger" expand="block" shape="round" class="btn-login" [disabled]="form.invalid"
                            (click)="login()">
                            Login </ion-button>
                    </ion-col>
                </ion-row>

                <ion-text class="ion-text-center" color="light">
                    <h6><a routerLink="/signup">Create account</a></h6>
                </ion-text>

            </form>
            </ion-col>

            <ion-col size="12">
                <ion-text class="ion-text-center ion-padding-top" color="light">
                    <div routerLink="/recovery-password">Forgot password?</div>
                </ion-text>
            </ion-col>

        </ion-row>
</ion-content>