<ion-app>
  <ion-menu side="start" content-id="main-content" [disabled]="!session">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>
            <ion-avatar class="ion-text-center">
                <img src="assets/logo/logo-200.jpg">
            </ion-avatar>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item >
          <ion-icon name="log-out-outline" slot="start" color="light"></ion-icon>
          <ion-label color="light" (click)="logout();">Salir</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--<ion-router-outlet></ion-router-outlet>-->
  <ion-router-outlet  class="ion-page" id="main-content"></ion-router-outlet>
</ion-app>
