@font-face {
    font-family: 'Monserrat-R';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Monserrat-B';
    src: url('../assets/fonts/Montserrat-Bold.ttf');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Monserrat-Black';
    src: url('../assets/fonts/Montserrat-Black.ttf');
  }  
  
  @font-face {
    font-family: 'DINPro-Bold';
    src: url('../assets/fonts/DINPro-Bold.otf');
  }
    
  @font-face {
    font-family: 'DINPro';
    src: url('../assets/fonts/DINPro.otf');
  }
    
  @font-face {
    font-family: 'DINPro-Black';
    src: url('../assets/fonts/DINPro-Black.otf');
  }

  @font-face {
    font-family: 'DINPro-Cond';
    src: url('../assets/fonts/DINPro-Cond.otf');
  }

  @font-face {
    font-family: 'DINPro-Light';
    src: url('../assets/fonts/DINPro-Light.otf');
  }


  :root 
{
        AppFont{
            font-family: 'Monserrat-R';
        } // or any global you wish to share with components 
}
ion-app{
    font-family: 'Monserrat-R';
}

ion-avatar{
  margin: 0 auto;
    position: relative;
    z-index: 2000;
    width: 90px;
    height: 90px;
   
    text-align: center;;
    img{
      margin: 0 auto;
      width: 70px;
      height: 70px;
    }
    h5{
      color:#fff;
      font-weight: bold;
      font-size: 16px;
      text-shadow:1px 2px  #000;
      padding-left: 0px;;
    }
    div{
      box-shadow: 0px 0px #21f105;
      border:solid 1px #21f105;
      border-radius: 50%;
      background: #f1f1f1;
      padding: 20px; 
      width: 80px;
      height: 80px; padding:5px 5px;margin:0 auto; 
    }
}
p{
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 15px;
  font-weight: bold;
  text-transform: capitalize;
}
ion-item{
  font-size: 12px;
  font-weight: bold;
  ion-label{
    padding-left: 10px;;
  }
}

ion-button{
  border-radius: 20px !important;
}
agm-map {
  height: 300px;
}