<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="light">
          <ion-icon slot="icon-only" ios="create-outline" md="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="light">
        <ion-icon slot="icon-only" ios="trash-outline" md="trash-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="11" offset=".5">
      <ion-text color="light">
        <h1>{{movie.title}}</h1>
      </ion-text>
      <img src="{{movie.image}}.{{movie.extension}}"
      class="item-avatar" />
      <ion-row>
        <ion-col size="6">
          <h2>
            <ion-icon name="star" color="warning" class="stars"></ion-icon>
            <ion-icon name="star" color="warning" class="stars"></ion-icon>
            <ion-icon name="star" color="warning" class="stars"></ion-icon>
            <ion-icon name="star-outline" color="light" class="stars"></ion-icon>
            <ion-icon name="star-outline" color="light" class="stars"></ion-icon>
          </h2>
        </ion-col>
        <ion-col size="6">
          <ion-text color="light">
            <h2 class="ion-text-right">{{movie.date}}</h2>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-text color="light">
        <p class="ion-text-center">{{movie.description}}</p>
      </ion-text>
    </ion-col>
  </ion-row>

</ion-content>
