.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}

.new-background-color{
  --background: #000000 !important;
  background: #000000 !important;
}
ion-avatar {
      margin: 0 auto;
      margin-bottom: 25px;
    
}
ion-item{
  
  ion-input{
      --background: rgb(41, 41, 41);
      border-radius: 30px;
      color: #fff;
      border:solid 1px #fff;
      min-height: 50px;
      text-align: center;
  }
}

.btn-login{
  margin-top:30px;
  margin-left: -10px;
}



.type-toggle {
    padding-inline-start: 0.5rem;
    position: absolute;
    z-index: 100;
    right: 20px;
.show-option,
    .hide-option {
      font-size: 1.2rem;
      display: block;
// In case you want to use text instead of icons
      &:not(ion-icon) {
        text-transform: uppercase;
        font-size: 1rem;
      }
    }
  }

  
  a{
      color: #fff !important;
      text-decoration: none;
    }

    ion-icon {
      font-size: 64px;
    }