<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="fullheight xc">
    <ion-col size="10">
      <form #form="ngForm">
        <ion-avatar class="ion-text-center">
          <img src="assets/logo/logo-200.jpg">
        </ion-avatar>
        <ion-text class="ion-text-center" color="light">
          <h1>Forgot Password<br><small *ngIf="!success">Please provide email to recovery.</small></h1>
        </ion-text>
        <ion-item lines="none" class="ion-padding-top" *ngIf="!success">
          <ion-label position="stacked"></ion-label>
          <ion-input placeholder="Email Address" type="email" [email]="true" [(ngModel)]="email" name="email" id="email"
            required></ion-input>
        </ion-item>

        <ion-row *ngIf="!success">
          <ion-col size="11" offset="1" class="ion-text-center">
            <ion-button type="button" color="danger" expand="block" shape="round" class="btn-login"
              [disabled]="form.invalid" (click)="recovery()"> Recovery
            </ion-button>
          </ion-col>
        </ion-row>
      </form>


      <ion-text class="ion-text-center" color="light" *ngIf="success">
        <h1>
          <ion-icon name="checkmark-done-circle-outline" color="success"></ion-icon>
          <br>
          <small> An email was sent with the information to recover your password</small>
        </h1>
      </ion-text>
      <ion-row *ngIf="success">
        <ion-col size="11" offset="1" class="ion-text-center">
          <ion-button color="danger" expand="block" shape="round" class="btn-login" (click)=" goBack()">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>


  </ion-row>

</ion-content>