<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row class="fullheight xc">
        <ion-col size="10">
            <form #form="ngForm">
                <ion-avatar class="ion-text-center">
                    <img src="assets/logo/logo-200.jpg">
                </ion-avatar>
                <ion-text class="ion-text-center" color="light">
                    <h1>Sign Up</h1>
                </ion-text>
                <ion-item lines="none" class="ion-padding-top">
                    <ion-label position="stacked"></ion-label>
                    <ion-input placeholder="Email Address" type="email" [email]="true" [(ngModel)]="postData.email"
                        name="email" id="email" required></ion-input>
                </ion-item>
                <ion-item lines="none" style="padding-top:20px">
                    <ion-input [hidden]="showPassword" type="password" placeholder="Password" name="password"
                        id="password" [(ngModel)]="postData.password"></ion-input>
                    <ion-input [hidden]="!showPassword" type="text" placeholder="Password" name="password" id="password"
                        [(ngModel)]="postData.password" required ></ion-input>
                    <a class="type-toggle" (click)="toggleShow(false)">
                        <ion-icon class="show-option" [hidden]="showPassword" name="eye-off-outline" color="light">
                        </ion-icon>
                        <ion-icon class="hide-option" [hidden]="!showPassword" name="eye-outline" color="light">
                        </ion-icon>
                    </a>
                </ion-item>
                <ion-row *ngIf="postData.password.length > 0 && postData.password.length < 6">
                    <ion-col>
                        <ion-label color="danger" class="text-msj">Escriba una contraseñas con minimo 6 carácteres</ion-label>
                    </ion-col>
                </ion-row>
                <ion-item lines="none" style="padding-top:20px">
                    <ion-input [hidden]="showPasswordConfirm" type="password" placeholder="Password"
                        name="passwordConfirm" id="passwordConfirm" [(ngModel)]="passwordConfirm" required (keyup)="checkPasswords($event)"></ion-input>
                    <ion-input [hidden]="!showPasswordConfirm" type="text" placeholder="Password" name="passwordConfirm"
                        id="passwordConfirm" [(ngModel)]="passwordConfirm" required (keyup)="checkPasswords($event)"></ion-input>
                    <a class="type-toggle" (click)="toggleShow(true)">
                        <ion-icon class="show-option" [hidden]="showPasswordConfirm" name="eye-off-outline"
                            color="light">
                        </ion-icon>
                        <ion-icon class="hide-option" [hidden]="!showPasswordConfirm" name="eye-outline" color="light">
                        </ion-icon>
                    </a>
               
                </ion-item>
                <ion-row  *ngIf="postData.password.length > 5 && postData.password != passwordConfirm ">
                    <ion-col>
                        <ion-label color="danger" class="text-msj">Verifique las contraseñas</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="11" offset="1" class="ion-text-center">
                        <ion-button type="button" color="danger" expand="block" shape="round" class="btn-login" [disabled]="form.invalid"
                        (click)="signUp()"> Sign Up
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-text class="ion-text-center" color="light">
                    <h6><a routerLink="/login">Login</a></h6>
                </ion-text>
            </form>
        </ion-col>

    </ion-row>

</ion-content>