<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false" color="light"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button color="light">
                <ion-icon slot="icon-only" ios="search-outline" md="search-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="light">
            <h3>Movies</h3>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-row>
            <ion-col size="11" offset=".4">

                <ion-list>

                        <ion-item-sliding    *ngFor="let item of data; let i = index;">

                            <ion-item>
                                <img slot="start" src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}"
                                    class="item-avatar" />
                                <ion-label class="ion-text-wrap">
                                    <h2 class="title-movie">{{item.title}}</h2>
                                    <p class="detail-movie" >
                                        {{item.description}}
                                    </p>
                                    <p>
                                        <ion-icon name="star" color="warning" class="stars"></ion-icon>
                                        <ion-icon name="star" color="warning" class="stars"></ion-icon>
                                        <ion-icon name="star" color="warning" class="stars"></ion-icon>
                                        <ion-icon name="star-outline" class="stars"></ion-icon>
                                        <ion-icon name="star-outline" class="stars"></ion-icon>
                                    </p>
    
                                </ion-label>
                            </ion-item>
                            <ion-item-options side="end" (click)="goDetail(item.id)">
                                <ion-item-option color="success">Edit</ion-item-option>
                            </ion-item-options>
                        </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>

    </div>
    <ion-fab horizontal="center" vertical="bottom" slot="fixed">
        <ion-fab-button color="light">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas datos...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>