ion-header{
  ion-toolbar{
    --background: #000000 !important;
    background: #000000 !important;
    ion-title{
      text-align: center;
    }
  }
}

ion-content{
  --padding-top:10px;
}


.container-list{
  margin-left: .5%;
}

ion-item{
  --background:#ccc;
  border-radius: 5px;
  --min-height: 100px;
  vertical-align: top;
  margin-top:20px;

  ion-label{
    vertical-align:top;
    min-height: 150px;
  }
  
}
ion-item-sliding{
  --min-height: 150px;
}
ion-item-options{
  margin-top:20px;
  ion-item-option{
    text-transform: capitalize;
    font-size: 18px;    
    border-radius: 0px 10px 10px 0px;
    height: calc(#{height});
  }
}

.item-avatar  {     
  width:100% !important;  
  height : 100% !important;  
  max-width: 170px !important;  //any size
  max-height: 300px !important; //any size 
  margin-left: -20px;
  margin-bottom: -50px;
  margin-top: -50px;
}

.title-movie{
  margin-bottom: 10px;
  font-weight: bold;
}

.detail-movie{
  font-size: 15px;
  height: 70px;
  margin-bottom: 20px;
}

.stars{
  box-shadow: #000000;
}